{% extends 'base.html' %}
{% block content %}

<style>

body{
    background:#f5f5f5;
}

.story-card{
    width:400px;
    max-width:90%;
    margin:80px auto;
    background:white;
    padding:25px;
    border-radius:15px;
    box-shadow:0 5px 20px rgba(0,0,0,.1);
    text-align:center;
}

.upload-btn{
    background:#d62976;
    color:white;
    border:none;
    padding:12px 25px;
    border-radius:10px;
    cursor:pointer;
    margin-top:15px;
}

input[type=file]{
    width:100%;
    margin-top:15px;
}
/* DARK MODE FORM */

body.dark-mode .story-card{

    background:#1e1e1e !important;

    color:white !important;

    box-shadow:0 5px 20px rgba(0,0,0,.5);

}


body.dark-mode .story-card h3{

    color:white !important;

}


/* file input */

body.dark-mode input[type=file]{

    background:#000 !important;

    color:white !important;

    border:1px solid #555 !important;

}


body.dark-mode input[type=file]::file-selector-button{

    background:#333;

    color:white;

    border:none;

    padding:8px 12px;

    border-radius:8px;

}
</style>

<div class="story-card">

<h3>Add Story</h3>

<form method="POST" enctype="multipart/form-data">

    {% csrf_token %}

    <input type="file"
           name="story_file"
           accept="image/*,video/*"
           required>

    <br>

    <button type="submit" class="upload-btn">

        Upload Story

    </button>

</form>


</div>

{% endblock %}
